.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.search-bar {
    margin-bottom: 20px;
    width: 100%;
}

.search-bar input {
    width: 30%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 30px;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.location,
.temperature,
.description {
    text-align: center;
    margin-bottom: 10px;
    
}

.location p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.temperature h1 {
    font-size: 48px;
    margin: 0;
}

.description p {
    font-size: 18px;
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: column; /* Adiciona o layout de coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    width: 40%;
    border-radius: 20px;
    background-color: rgba(240, 240, 240, 0.5);
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.footer h2{
    flex: 1;
    font-weight: 300;
}

.footer-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}


.sensation,
.humidity,
.wind{
    flex: 1;
    font-size: 24px;
    color: #131313;
    text-align: center;
    padding: 2rem;
}

.sensation p,
.humidity p,
.wind p{
    font-size: 16px;
    color: #818181;
    text-align: center;
}

.lottie-container{
    width: 35%;
    transition: .5s;


    &:hover{
        scale: 1.2;
    }
}

